<%= render partial: "dashboard/shared/title", locals: {title: "Destaques"} %>
<% if @carousels.count >0 %>
    <%= link_to new_dashboard_carousel_path, class:"btn btn-success btn-center" do %>
        <i class="fa fa-plus">&nbsp; Cadastrar</i>
        <% end %>
            <hr>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Imagem</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @carousels.each do |carousel| %>
                    <tr>
                        <td class="align-middle">
                            <%= carousel.id %>
                        </td>
                        <td class="align-middle">
                            <%= carousel.description %>
                        </td>
                        <td>
                            <% if carousel.image.attached? %>
                                <%= image_tag carousel.image, class:"img-fluid image-mini" %>
                            <% else %>
                                <%= image_tag '/no_img.png', class:"card-img-top img-fluid image-mini" %>
                            <% end %>
                        </td>
                        <td class="text-center align-middle">
                            <%= link_to "Editar", edit_dashboard_carousel_path(carousel.id), class: "btn btn-primary" %>
                                <%= link_to "Excluir", dashboard_carousel_path(carousel.id), method: :delete,
                                                        data:{ confirm: "Tem certeza disso?" }, class:"btn btn-danger" %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <div class="alert alert-danger text-center" role="alert">
            <i class="fa fa-exclamation-triangle"> Sem destaque cadastrados! </i>
        </div>
        <%= link_to new_dashboard_carousel_path, class:"btn btn-success btn-center" do %>
            <i class="fa fa-plus">&nbsp; Cadastrar</i>
            <% end %>
        <% end %>