<%= render partial: "dashboard/shared/title", locals: {title: "Dashboard"} %>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-sm-12 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-users"></i>
            </div>
            <div class="mr-5"><strong><%= User.count %></strong>
              <br> Usuarios <br> Cadastrados</div>
          </div>
          <%= link_to dashboard_users_path, class:"card-footer text-white clearfix small z-1" do %>
            <span class="float-left">Ver detalhes</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
            <% end %>
        </div>
      </div>
      <div class="col-xl-4 col-sm-12 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-vcard"></i>
            </div>
            <div class="mr-5"><%= Employee.count %><br> Funcionários <br> Cadastrados</div>
          </div>
          <%= link_to dashboard_employees_path, class:"card-footer text-white clearfix small z-1" do %>
            <span class="float-left">Ver detalhes</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
            <% end %>
        </div>
      </div>
      <div class="col-xl-4 col-sm-12 mb-3">
        <div class="card text-white bg-secondary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-map"></i>
            </div>
            <div class="mr-5"><%= City.count %> <br>Cidades <br> Cadastradas</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-sm-12 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-list"></i>
            </div>
            <div class="mr-5">11 New Tasks!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-sm-12 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-shopping-cart"></i>
            </div>
            <div class="mr-5">123 New Orders!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-sm-12 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-life-ring"></i>
            </div>
            <div class="mr-5">13 New Tickets!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>