<div class="container">
    <h5 class="title-form text-center">
        <strong><%= action %></strong>
    </h5>
    <hr>
    <%= form_with(model: [:dashboard, @employee], local: true) do |f| %>
        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <label>Nome</label>
                <%= f.text_field :fullname, type:"text", autofocus: true, class:"form-control", placeholder:"João Silva" %>
            </div>
            <div class="form-group col-md-6 offset-md-3">
                    <label>Telefone</label>
                    <%= f.text_field :cellphone, type:"text", id:"phone", autofocus: true, class:"form-control", placeholder:"65 99999-9999" %>
                </div>
        </div>
        <div class="offset-md-5">
            <%= f.submit btn_action, class:"btn btn-success" %>
            <%= link_to "Cancelar", dashboard_employees_path, class:"btn btn-danger" %>
        </div>
    <% end %>
</div>
