<%= render partial: "dashboard/shared/title", locals: {title: "Funcionários"} %>
<% if @employees.count >0 %>
<%= link_to new_dashboard_employee_path, class:"btn btn-success btn-center" do %>
<i class="fa fa-plus">&nbsp; Cadastrar</i>
<% end %>
<hr>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Numero</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
        <% @employees.each do |employee| %>
      <tr>
        <th scope="row"><%= employee.id %></th>
        <td><%= employee.fullname %></td>
        <td><%= employee.cellphone %></td>
        <td class="text-center"><%= link_to "Editar", edit_dashboard_employee_path(employee.id), class: "btn btn-primary" %>
         <% if employee.can_be_deleted? %>
         <%= link_to "Excluir", dashboard_employee_path(employee.id), method: :delete,
         data:{ confirm: "Tem certeza disso?" }, class:"btn btn-danger" %>
         <% else %>
          <button type="button" class="btn btn-danger" title="Existem <%= City.count %> cidades vinculadas altere antes de excluir" disabled>Excluir</button>
         <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="alert alert-danger text-center" role="alert">
     <i class="fa fa-exclamation-triangle"> Sem funcionários cadastrados! </i>
  </div>
  <%= link_to new_dashboard_employee_path, class:"btn btn-success btn-center" do %>
  <i class="fa fa-plus">&nbsp; Cadastrar</i>
  <% end %>
  <% end %>