<div class="container">
    <h5 class="title-form text-center">
        <strong><%= action %></strong>
    </h5>

    <%= form_with(model: [:dashboard, @line],local: true, multipart: true) do |f| %>
        <div class="row">
            <div class="form-group col-md-6 offset-md-3">
                <label>Título</label>
                <%= f.text_field :description, type:"text", autofocus: true, class:"form-control", placeholder:"Kit Kat" %>
            </div>
            <div class="form-group col-md-6 offset-md-3">
                    <button type="button" class="btn btn-primary btn-block" onclick="document.getElementById('inputFile').click()">Add Image</button>
                    <div class="form-group inputDnD">
                      <label class="sr-only" for="inputFile">File Upload</label>
                      <%= f.file_field :image, type:"file", class:"form-control-file text-primary font-weight-bold", id:"inputFile", accept:"image/*", onchange:"readUrl(this)", data:{title:"Drag and drop a file"} %>
                    </div>
                </div>
            </div>
            <div class="offset-md-5">
                <%= f.submit btn_action, class:"btn btn-success" %>
                    <%= link_to "Cancelar", dashboard_lines_path, class:"btn btn-danger" %>
            </div>
        </div>
    <% end %>
</div>