<%= render partial: "dashboard/shared/title", locals: {title: "Linhas"} %>
<table class="table table-hover table-dark">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Descrição</th>
          <th scope="col">Imagem</th>
          <th scope="col" class="text-center">Ações</th>
      </tr>
  </thead>
  <tbody>
      <% @lines.each do |line| %>
          <tr>
              <td class="align-middle">
                  <%= line.id %>
              </td>
              <td class="align-middle">
                  <%= line.description %>
              </td>
              <td>
                  <% if line.image.attached? %>
                      <%= image_tag line.image, class:"img-fluid image-mini" %>
                  <% else %>
                      <%= image_tag '/no_img.png', class:"card-img-top img-fluid image-mini" %>
                  <% end %>
              </td>
              <td class="text-center align-middle">
                  <%= link_to "Editar", edit_dashboard_line_path(line.id), class: "btn btn-primary" %>
              </td>
          </tr>
          <% end %>
  </tbody>
</table>