.card-img-top.image-page{
    max-width: 600px;
    max-height: 400px;
}

.image-mini{
    max-width: 60px;
    max-height: 60px;
}

.title-form{
    margin-top: 25px;
    font-weight: bold;
}

.btn-center{
    margin-left: 45%;
}

select{
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

a {
  color: #495057;
}


.inputDnD {
    .form-control-file {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 6em;
      outline: none;
      visibility: hidden;
      cursor: pointer;
      background-color: #c61c23;
      box-shadow: 0 0 5px solid currentColor;
      &:before {
        content: attr(data-title);
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 100%;
        min-height: 6em;
        line-height: 2em;
        padding-top: 1.5em;
        opacity: 1;
        visibility: visible;
        text-align: center;
        border: 0.25em dashed currentColor;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        overflow: hidden;
      }
      &:hover {
        &:before {
          border-style: solid;
          box-shadow: inset 0px 0px 0px 0.25em currentColor;
        }
      }
    }
  }