<div class="form-top">
<div class="text-center form-signin">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= image_tag '/logo.jpg', class:"mb-4", width:"300"%>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"email", class:"form-control", placeholder:"Email address" %>
  <label for="inputPassword" class="sr-only">Password</label>
  <%= f.password_field :password, autocomplete: "current-password", type:"password", class:"form-control", placeholder:"Password" %>
  <div class="checkbox mb-3">
    <% if devise_mapping.rememberable? -%>
    <label>
        <%= f.check_box :remember_me, type:"checkbox" %> Remember me
    </label>
    <% end -%>
  </div>
      <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block" %>
      <%= render "users/shared/links" %>
  <p class="mt-5 mb-3 text-muted">© 2011 - <%= Time.current.year %></p>
  <% end %>
</div>
</div>



