<%= render partial: "dashboard/shared/title", locals: {title: "Marcas"} %>
<% if @brands.count >0 %>
<%= link_to new_dashboard_brand_path, class:"btn btn-success btn-center" do %>
<i class="fa fa-plus">&nbsp; Cadastrar</i>
<% end %>
<hr>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descrição</th>
        <th scope="col">Imagem</th>
        <th scope="col">Linha</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
        <% @brands.each do |brand| %>
      <tr>
        <td class="align-middle"><%= brand.id %></td>
        <td class="align-middle"><%= brand.description %></td>
        <td>
          <% if brand.image.attached? %>
              <%= image_tag brand.image, class:"img-fluid image-mini" %>
          <% else %>
              <%= image_tag '/no_img.png', class:"card-img-top img-fluid image-mini" %>
          <% end %>
      </td>
        <td><%= brand.line.description %></td>
        <td class="text-center"><%= link_to "Editar", edit_dashboard_brand_path(brand.id), class: "btn btn-primary" %>
         <% if brand.can_be_deleted? %>
         <%= link_to "Excluir", dashboard_brand_path(brand.id), method: :delete,
         data:{ confirm: "Tem certeza disso?" }, class:"btn btn-danger" %>
         <% else %>
          <button type="button" class="btn btn-danger" title="Existem <%= Product.count %> produtos vinculados altere antes de excluir" disabled>Excluir</button>
         <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="alert alert-danger text-center" role="alert">
     <i class="fa fa-exclamation-triangle">  Sem Marcas cadastradas! </i>
  </div>
  <%= link_to new_dashboard_brand_path, class:"btn btn-success btn-center" do %>
  <i class="fa fa-plus">&nbsp; Cadastrar</i>
  <% end %>
  <% end %>