<div class="container">
  <h5 class="title-form text-center">
    <strong><%= action %></strong>
  </h5>
  <hr>
  <%= form_with(model: [:dashboard, @user], local: true) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nome</label>
        <%= f.text_field :username, type:"text", class:"form-control", placeholder:"João da Silva" %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">E-mail</label>
        <%= f.text_field :email, type:"email", class:"form-control", placeholder:"user@user.com" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Senha</label>
        <%= f.password_field :password, type: "password", class: "form-control", placeholder:"Digite sua senha" %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Confirmação senha</label>
        <%= f.password_field :password_confirmation, type: "password", class:"form-control", placeholder:"Confirme sua senha" %>
      </div>
    </div>
    <div class="offset-md-5">
      <%= f.submit btn_action, class:"btn btn-success" %>
        <%= link_to "Cancelar", dashboard_cities_path, class:"btn btn-danger" %>
    </div>
    <% end %>
</div>