<%= render partial: "dashboard/shared/title", locals: {title: "Produtos"} %>
<% if @products.count >0 %>
<%= link_to new_dashboard_product_path, class:"btn btn-success btn-center" do %>
<i class="fa fa-plus">&nbsp; Cadastrar</i>
<% end %>
<hr>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descrição</th>
        <th scope="col">Linha</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
      <tr>
        <td class="align-middle"><%= product.id %></td>
        <td class="align-middle"><%= product.description %></td>
        <td>
          <% if product.image.attached? %>
              <%= image_tag product.image, class:"img-fluid image-mini" %>
          <% else %>
              <%= image_tag '/no_img.png', class:"card-img-top img-fluid image-mini" %>
          <% end %>
      </td>
        <td><%= product.brand.description %></td>
        <td class="text-center"><%= link_to "Editar", edit_dashboard_product_path(product.id), class: "btn btn-primary" %>
              <%= link_to "Excluir", dashboard_product_path(product.id), method: :delete,
                  data:{ confirm: "Tem certeza disso?" }, class:"btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="alert alert-danger text-center" role="alert">
     <i class="fa fa-exclamation-triangle">  Ainda não possui nenhum produto cadastrado! </i>
  </div>
  <%= link_to new_dashboard_product_path, class:"btn btn-success btn-center" do %>
  <i class="fa fa-plus">&nbsp; Cadastrar</i>
  <% end %>
  <% end %>