<h5 class="title-form text-center">
        <strong><%= action %></strong>
    </h5>
    <hr>
    <%= form_with(model: [:dashboard, @city], local: true) do |f| %>
        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <label>Descrição</label>
                <%= f.text_field :description, type:"text", autofocus: true, class:"form-control", placeholder:"Cuiabá" %>
            </div>
            <div class="form-group col-md-6 offset-md-3">
                <label>Vendedor</label>
                <%= collection_select(:city, :employee_id, Employee.all, :id, :fullname, prompt: "Selecione") %>
            </div>
        </div>
        <div class="offset-md-5">
            <%= f.submit btn_action, class:"btn btn-success" %>
            <%= link_to "Cancelar", dashboard_cities_path, class:"btn btn-danger" %>
        </div>
    <% end %>
</div>