<%= render partial: "dashboard/shared/title", locals: {title: "Cidades"} %>
<% if @cities.count >0 %>
<%= link_to new_dashboard_city_path, class:"btn btn-success btn-center" do %>
<i class="fa fa-plus">&nbsp; Cadastrar</i>
<% end %>
<hr>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cidade</th>
        <th scope="col">Vendedor</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
        <% @cities.each do |city| %>
      <tr>
        <th scope="row"><%= city.id %></th>
        <td><%= city.description %></td>
        <td><%= city.employee.fullname %></td>
        <td class="text-center"><%= link_to "Editar", edit_dashboard_city_path(city.id), class: "btn btn-primary" %>
         <%= link_to "Excluir", dashboard_city_path(city.id), method: :delete,
         data:{ confirm: "Tem certeza disso?" }, class:"btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="alert alert-danger text-center" role="alert">
     <i class="fa fa-exclamation-triangle"> Sem cidades cadastradas! </i>
  </div>
  <%= link_to new_dashboard_city_path, class:"btn btn-success btn-center" do %>
  <i class="fa fa-plus">&nbsp; Cadastrar</i>
  <% end %>
  <% end %>