<%= render partial: "dashboard/shared/title", locals: {title: "#{@pages.title}"} %>

    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-4 shadow-sm">
                    <% if @pages.image.attached? %>
                        <%= image_tag @pages.image, class:"card-img-top img-fluid image-page" %>
                    <% else %>
                        <%= image_tag '/no_img.png', class:"card-img-top img-fluid image-page" %>
                    <% end %>
                    <br>
                    <h5 class="card-title text-center"><%= @pages.title %></h5>
                    <hr>
                        <div class="card-body">
                            <p class="card-text">
                                <%= @pages.description %>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="offset-md-5">
                                        <%= link_to "Editar", edit_dashboard_page_path(@pages.id), class: "btn btn-primary my-2" %>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>