<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="index.html">Broker Mato Grosso</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
          <i class="fa fa-gears"></i>&nbsp; Settings
        </a>
        <div class="dropdown-divider"></div>
        <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
          <i class="fa fa-sign-out"></i>&nbsp; Logout
        <% end %>
      </div>
    </li>
  </ul>

</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
        <%= link_to dashboard_path, class:"nav-link" do %>
        <i class="fa fa-dashboard"></i>&nbsp;
        <span>Dashboard</span>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to dashboard_pages_path, class:"nav-link" do %>
        <i class="fa fa-book"></i>&nbsp;
        <span>Quem Somos</span>
        <% end %>
    </li>
    <li class="nav-item">
          <%= link_to dashboard_employees_path, class:"nav-link" do %>
        <i class="fa fa-vcard"></i>&nbsp;
        <span>Funcionários</span>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to dashboard_carousels_path, class:"nav-link" do %>
        <i class="fa fa-image"></i>&nbsp;
        <span>Caroussel</span>
        <% end %>
    </li>
    <li class="nav-item">
      <%= link_to dashboard_products_path, class:"nav-link" do %>
      <i class="fa fa-shopping-cart"></i>&nbsp;
      <span>Produtos</span>
      <% end %>
  </li>
    <li class="nav-item">
        <%= link_to dashboard_users_path, class:"nav-link" do %>
        <i class="fa fa-users"></i>&nbsp;
        <span>Usuários</span>
        <% end %>
    </li>
    <li class="nav-item">
      <%= link_to dashboard_cities_path, class:"nav-link" do %>
        <i class="fa fa-map"></i>&nbsp;
        <span>Cidades</span>
        <% end %>
      </a>
    </li>
    <li class="nav-item">
        <%= link_to dashboard_brands_path, class:"nav-link" do %>
        <i class="fa fa-th"></i>&nbsp;
        <span>Marcas</span>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to dashboard_lines_path, class:"nav-link" do %>
        <i class="fa fa-th-list"></i>&nbsp;
        <span>Linhas</span>
        <% end %>
    </li>
  </ul>