<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <strong><%= link_to "Dashboard",dashboard_path %></strong>
            </li>
            <li class="breadcrumb-item active">
                <%= title %>
            </li>
        </ol>