<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard - Broker Mato Grosso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'dashboard', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body id="page-top">
    <%= render partial: "dashboard/shared/menu" %>
    <%#= render partial: "dashboard/shared/title" %>
    <%= yield %>
    <%= render partial: "dashboard/shared/footer" %>
    <%= javascript_include_tag 'dashboard' %>
    <%= javascript_include_tag 'application' %>
    <%= content_tag(:script) do %>
      <% flash.each do |type, message| %>
        <%= toastr_flash_class("#{type}") %>('<%= message %>')
      <% end %>
    <% end %>
  </body>
</html>